AuthUserFile /var/www/.htpasswd
AuthName "Please Log In"
AuthType Basic
Require valid-user
Order allow, deny
Satisfy any

# Exempt mp4, m4v, and mp3 files from password protection
# This prevents extra authentication dialogs from popping up in safari
<Files ~ "\.(mp4|m4v|mp3)">
    AddType video/mp4 mp4
    AddType audio/x-mp3 mp3
    order allow,deny
    allow from all
    satisfy any
</Files>